<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label for="character_player_id">Player:</label>
  <select name="character[player_id]" id="character_player_id">
    <% Player.all.each do |p| %>
    <option value="<%= p.id %>" <%= @character.player_id == p.id ? "selected='selected'" : nil %>><%= p.player_name %></option>
    <% end %>
  </select><br />
  <%= link_to 'New Player', new_player_path %><br />

  <%= f.label :character_name, "Character Name:" %>
  <%= f.text_field :character_name %><br />

  <label for="character_race_id">Race:</label>
  <select name="character[race_id]" id="character_race_id">
    <% Race.all.each do |r| %>
    <option value="<%= r.id %>" <%= @character.race_id == r.id ? "selected='selected'" : nil %>><%= r.race_name %></option>
    <% end %>
  </select><br />

  <label for="character_alignment_id">Alignment:</label>
  <select name="character[alignment_id]" id="character_alignment_id">
    <% Alignment.all.each do |a| %>
    <option value="<%= a.id %>" <%= @character.alignment_id == a.id ? "selected='selected'" : nil %>><%= a.alignment_name %></option>
    <% end %>
  </select>

  <div id="experience">
    <label>Total Experience:</label> 
    <input type="number" id="charcater_experience_points" name="character[experience_points]" value="<%= @character.experience_points ? @character.experience_points : 0 %>" />
    <br />
    <% if @available_experience %>
    <label>Available Experience:</label> <span id="available_exp"><%= @available_experience %></span><br />
    <% end %>
  </div>

  <%= render "character_class" %>

  <%= render "skills" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
