<h1>Listing characters</h1>

<table>
  <thead>
    <tr>
      <th>Character Name</th>
      <th>Race</th>
      <th>Sex</th>
      <th>Height</th>
      <th>Alignment</th>
      <th>Class</th>
      <th>Player Name</th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.character_name %></td>
        <td><%= character.race.race_name %></td>
        <td><%= character.sex %></td>
        <td><%= character.height %></td>
        <td><%= character.alignment.alignment_name %></td>
        <td><%= character.character_class.character_class_name %></td>
        <td><%= character.player.player_name %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path %>
