<%= form_for(@character_skill) do |f| %>
  <% if @character_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character_skill.errors.count, "error") %> prohibited this character_skill from being saved:</h2>

      <ul>
      <% @character_skill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="skills">
    <h2>Skills</h2>
    <table>
      <thead>
        <th>Skill</th>
        <th>Trained</th>
        <th>Modifier</th>
      </thead>
      <tbody>
      <% Skill.all.each do |s| %>
        <% character_skill = CharacterSkill.where(character_id: @character.id, skill_id: s.id) %>
        <tr>
          <td><%= s.skill_name %></td>
          <td><input type="radio" name="character_skill[trained]" value="skill_id[<%= s.id %>]" <%= character_skill.trained ? "checked='checked'" : nil unless character_skill.empty? %> /></td>
          <td><input type="number" disabled="true" /></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
