<h1>Listing character_attributes</h1>

<table>
  <thead>
    <tr>
      <th>Attribute Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @character_attributes.each do |character_attribute| %>
      <tr>
        <td><%= character_attribute.character_attribute_name %></td>
        <td><%= link_to 'Show', character_attribute %></td>
        <td><%= link_to 'Edit', edit_character_attribute_path(character_attribute) %></td>
        <td><%= link_to 'Destroy', character_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character attribute', new_character_attribute_path %>
