<%= form_for(@character_attribute_type) do |f| %>
  <% if @character_attribute_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character_attribute_type.errors.count, "error") %> prohibited this character_attribute_type from being saved:</h2>

      <ul>
      <% @character_attribute_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :attribute_name %>
  <%= f.text_field :attribute_name %><br />
  <%= f.label :description %>
  <%= f.text_area :description %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
